<!doctype HTML>

<html>
    <head>
      <meta charset="utf-8">
      <link href="{{url_for('static', filename='css/style.css')}}"  rel="stylesheet" type="text/css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
      <title>Control Panel</title>
    </head>
    <body>
      <button id="toggle-switch">Toggle Switch</button>
      <div id="dynamic-button-container"></div>
      <script>
        let socket = io()
        socket.on('connect', () => {
          console.log("SocketIO connected");
        });
        socket.on('status-update', msg => {
          console.log("Received status update: ", msg)
        });

        document.getElementById('toggle-switch').addEventListener('click', async _ => {
          const response = await fetch("{{url_for('control_switch', cmd='toggle')}}", {
            method: 'post',
            body: { }
          });
        });
      </script>
    </body>
</html>
